<footer class="bg-black pt2 pb2 pb6-l" id="fadein-backtotop">
  <div class = "tc tl-l pt5-l">
  <div id="contact" class="mw6 mw7-ns center tc fr-l pr5-l pt5 pt0-l">
    <span itemscope itemtype="http://schema.org/Corporation">
      <span class="dn" itemprop="name">Bright X</span>
        <a class="brightx-sans f5 f3-ns link dim ph3 ph4-l pv2 mb4 mr3-ns dib white bg-black ttu tracked bg-brightxred" href="mailto:{{ site.email }}">Get in touch</a>
        <meta itemprop="email" content="{{ site.email }}">
      </span>
  </div>
  <a class="link dim" href="{{ site.baseurl }}/" title="Home">
    <img class="mw4-5 mb6 mb4-l mb0-l pt5 pt0-l ml4-l" src="{{ site.baseurl }}/images/LOGO-HORIZ-RGBw.png" alt="Ashbright" >
  </a>
  </div>

  <a href="#" class="back-to-top fixed bottom-1 right-1 bg-white lh-solid" data-aos="fade-left"
     data-aos-anchor="#fadein-backtotop">
    <img src="{{ site.baseurl }}/images/arrow.svg" class="di w2" alt="Scroll to top button">
  </a>
</footer>



