<footer class="bg-black pv5 pv6-l brightx" id="fadein-backtotop">
  <div class = "tc tl-l pt2-l pl5-l pv5 pv6-l bb b--white" id="contact">
  <img class="w-50 w-auto-l h3-l" src="{{ site.baseurl }}/images/BrightX-Logo-BW-Black-01-web.png" alt="BrightX" >
     <p class="f6 f3-l white measure-wide fw3 ph2 pl0-l">Bright X records and amplifies defining moments of professional success.</p>

  <div id="contact" class="mw6 mw-none-l center tc pt3 tl-l">
    <span itemscope itemtype="http://schema.org/Corporation">
      <span class="dn" itemprop="name">Bright X</span>
        <a class="brightx-sans f5 f3-ns link dim ph4 ph4-l pv3 mb4 mr3-ns dib white ttu tracked bg-brightxred" href="mailto:{{ site.email }}">Get in touch</a>
        <meta itemprop="email" content="{{ site.email }}">
      </span>
  </div>

  </div>

  <div class="cf ph2 ">
    <div class="fl dt w-100 w-50-ns pt4">
      <div class="dtc v-mid">
        <img class="" src="{{ site.baseurl }}/images/ashbright-logo.png" alt="Stromback logo" >
       </div>
      <div class="dtc v-mid pl3">
        <h2 class="f6 f3-l white fw2 ttu tracked">About Ashbright</h2>
        <p class="f6 f3-l mt0 lh-copy measure white">Ashbright designs and executes communications campaigns to help organizations and leaders engage intelligently with people who matter.</p>
       </div>
    </div>
    <div class="fl w-100 w-50-ns pt4-l">
      <div class="dtc v-mid">
        <img class="" src="{{ site.baseurl }}/images/stromback-logo.png" alt="Stromback logo" >
       </div>
       <div class="dtc v-mid pl3">
          <h2 class="f6 f3-l white fw2 ttu tracked">About Stromback</h2>
          <p class="f6 f3-l mt0 lh-copy measure white">Over the last decade Stromback has created and hosted the most sought-after social events and experiences in Davos.</p>
        </div>
    </div>
  </div>

    <a href="#top" class="back-to-top fixed bottom-1 right-1 bg-white lh-solid" data-aos="fade-left"
       data-aos-anchor="#fadein-backtotop">
      <img src="{{ site.baseurl }}/images/arrow.svg" class="di w2 w3-l" alt="Scroll to top button">
    </a>

</footer>



