<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/brightx/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/brightx/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/brightx/favicon-16x16.png">
  <link rel="manifest" href="{{ site.baseurl }}/brightx/site.webmanifest">
  <link rel="mask-icon" href="{{ site.baseurl }}/brightx/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="{{ site.baseurl }}/brightx/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="Bright X">
  <meta name="application-name" content="Bright X">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="{{ site.baseurl }}/brightx/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

    <!-- External CSS -->
     <script>
    function loadCSS(e,t,n){"use strict";function r(){for(var t,i=0;i<d.length;i++)d[i].href&&d[i].href.indexOf(e)>-1&&(t=!0);t?o.media=n||"all":setTimeout(r)}var o=window.document.createElement("link"),i=t||window.document.getElementsByTagName("script")[0],d=window.document.styleSheets;return o.rel="stylesheet",o.href=e,o.media="only x",i.parentNode.insertBefore(o,i),r(),o}
    // load a file
      loadCSS( "{{ site.baseurl }}/css/main.css");
      loadCSS( "https://fonts.googleapis.com/css?family=Montserrat:300,600");
    </script>

    <noscript>
      <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    </noscript>

    <noscript>
      <link href="https://fonts.googleapis.com/css?family=Montserrat:300,600" rel="stylesheet">
    </noscript>

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106864288-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-106864288-1');
    </script>

    {% seo %}

</head>
