{% if page.headercolour %}
  {% assign bg = page.headercolour %}
{% else %}
  {% assign bg = 'brightxred' %}
{% endif %}

<header class="bg-{{bg}} w-100 pv4 ph3-l tc" id="top">
 {% if page.type != 'home' %}
    <a class="link dim fr-l pr4-l" href="{{ site.baseurl }}/" title="Home">
      <img class="h2" src="{{ site.baseurl }}/images/logo-white-notext.svg" alt="Bright X" >
    </a>
  {% endif %}

  <nav class="db dt-l pt3">
    <div class="db dtc-l v-mid v-bottom-l w-100 w-75-l tc tl-l pl5-l ph1">

      {% for link in site.data.nav.navigation %}
         {% assign current = nil %}
          {% if page.url contains link.url %}
              {% assign current = 'current b--primary' %}
          {% endif %}
          <a class="brightx-sans no-underline white f6 f5-l dib mr3 mr4-l ttu {{ current }}" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
        {% endfor %}

    </div>
  </nav>

</header>
