body {
  margin: 0;
  padding: 0;
}

.brightx h1,
.brightx h2,
.brightx h3,
.brightx h4,
.brightx-sans,
.brightx p,
.brightx li {
    font-family: 'Montserrat', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.text {
  color: #231f20;
}


//_border-colors
.b--brightxred { border-color: $link-color1; }
.b--brightxdarkgrey { border-color: $border-color1; }
.b--brightxlightgrey { border-color: $grey1; }
.b--brightxmidgrey { border-color: $grey2; }

//_skins
.brightxred { color: $link-color1; }
.brightxdarkgrey { color: $border-color1; }
.brightxlightgrey { color: $grey1; }
.brightxmidgrey { color: $grey2; }

.bg-brightxred { background-color: $link-color1; }
.bg-brightxdarkgrey { background-color: $border-color1; }
.bg-brightxlightgrey { background-color: $grey1; }
.bg-brightxmidgrey { background-color: $grey2; }

.line-before, .line-after {
  overflow: hidden;
}

.line-after:after {
    content:"";
    display: inline-block;
    height: 0.6em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 0.5em;
    border-top: 3px solid $border-color1;
}

.line-before:before {
    content:"";
    display: inline-block;
    height: 0.6em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 0.5em;
    border-top: 3px solid $border-color1;
}

.vertical-text {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  margin: 0 1rem 1rem 0;
  text-align: right;
}


.bg {
  background: none;
  border: 3px solid #fff;
  color: #fff;
}
.bg:before, .bg:after {
  background: #fff;
  border: 3px solid #fff;
}
.bg:hover {
  border-image: none;
}
.bg:hover:before, .bg:hover:after {
  background: #fff;
}

.dashed-bullet {
  padding-left: 1.5rem;
  text-indent: -0.5rem;
}

.dashed-bullet:before {
    content: "— ";
    margin-left: -1rem;
    padding-right: 0.25rem;
  }


@media #{$breakpoint-not-small}  {

  .dashed-bullet:before {
      content: " ";
      margin-left: 0;
      padding-right: 0;
  }

  .dashed-bullet {
     padding-left: 0;
     text-indent: 0;
  }

}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-logo {
  background: url(/images/logo-outline.svg) no-repeat 50% 50%;
  background-size: cover;
}

.bg-logo-grey {
  background: url(/images/logo-grey.svg) no-repeat right 10% bottom 5%;
  background-size: 30%;
  background-color: #404041;
  z-index: -1;
}
