$root-font-size: 18px;
$root-line-height: 1.5;
$body-color: #515151;
$body-bg: #fff;

//ashbright
$link-color: #B9CCE9;
$border-color: #C6C8CA;

//brightx
$link-color1: #ff1e31;
$border-color1: #404041;
$grey1: #d1d2d4;
$grey2: #939597;



